

.checkout {
    width: 250px;
    padding: 20px 0;
    margin: auto;
    background-color: yellowgreen;
    border-radius: 90px;
    margin-top: 5px;
}

.empty {
    width: 125px;
    padding: 20px 0;
    margin: auto;
    background-color: skyblue;
    border-radius: 90px;
    margin-top: 5px;
}