.colorSection, .sizeSection
{margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.colorButton, .sizeButton{
margin-right: 5px;
border-radius: 50px;

}
.buttonactive{
    
            background-color: blue;
            border: orangered;
            color: white;
        
}


.addtocart{
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: azure;
    width: 225px;
}

.incart{
pointer-events: none;
}

.cartButtons{
    display: flex;
    flex-direction: row;
    background-color: blue;
    border: 5px solid blue;
    width: 225px;
        margin: 0 auto;
}

.changeQnty{
    padding: 10px;
        border: none;
        background-color: blue;
        color: azure;
        font-size: 30px;
}

.hideButton{
    display: none;
}