.itemsection {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 1080px;
}

.itemDetails {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.totalSection {
  width: 25%;
  display: flex;
}

.parformat {
  text-align: left;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
  border: 1px solid blue;
  padding: 15px;
}
