.listAddresses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1040px;
    justify-content: center
}

.AddressBlock{
    padding: 10px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.default{
    padding-bottom: 10px;
   
    height: 30px;
}

.defaultButton{
    padding: 10px;
    border-radius: 25px;
}

.defaultButton:hover {
background-color: blue;
color: white;
}

.defaultBlock{
    padding-bottom: 10px;
        border-bottom: 1px solid gray;
}

.addressButton{
    padding: 8px;
    margin-right: 10px;
    border-radius: 25px;
    width: 70px;
}

.addressButton:hover {
    background-color: blue;
    color: white;
}

.buttonGroup{
   margin: 10px 5px;
}